bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Warbud.ReverseProxy/.idea/vcs.xml
.idea/.idea.Warbud.ReverseProxy/.idea/.name
.idea/.idea.Warbud.ReverseProxy/.idea/aws.xml
.idea/.idea.Warbud.ReverseProxy/.idea/encodings.xml
.idea/.idea.Warbud.ReverseProxy/.idea/indexLayout.xml
